<% if(errors.length>0) {%>
    <% errors.forEach(err => {%>
        <p class="alert alert-danger"><%=err%></p>
    <%})%>
<%}%>

<% if(success.length>0) {%>
    <% success.forEach(success => {%>
        <p class="alert alert-success"><%=success%></p>
    <%})%>
<%}%>