<%- include("includes/head") %>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="text-center">ERROR 404</h1>
                <h2 class="text-center lead">Página não encontrada!</h2>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>
<%- include("includes/footer") %>